<div class="container">
    <h1>{{title}}</h1>

    
    <button class="btn btn-primary" (click)="getPesonas()">Pesonas</button>
    <button class="btn btn-primary" (click)="getPuestos()">Puestos</button>
    <button class="btn btn-primary" (click)="getEmpleados()">Empleados</button>
    
    <h2>Titulo</h2>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary">Filtro</button>
            <ul>
                <li>
                    <div>
                        item
                        <button class="btn btn-primary">Actualizar</button>
                        <button class="btn btn-danger">Eliminar</button>
                        <button class="btn btn-success">ver</button>
                    </div>
                </li>
                <li>
                    <div>
                        item
                        <button class="btn btn-primary">Actualizar</button>
                        <button class="btn btn-danger">Eliminar</button>
                        <button class="btn btn-success">ver</button>
                    </div>
                </li>
                <li>
                    <div>
                        item
                        <button class="btn btn-primary">Actualizar</button>
                        <button class="btn btn-danger">Eliminar</button>
                        <button class="btn btn-success">ver</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary">Agregar</button>
            <form >
                <div class="mb-3">
                    <label for="id" class="form-label">id</label>
                    <input type="email" class="form-control" id="id" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="email" class="form-control" id="nombre" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="email" class="form-control" id="apellido" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                    <input type="email" class="form-control" id="fechaNacimiento" placeholder="name@example.com">
                  </div>
            </form>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
    <!-- <app-empleados-puestos></app-empleados-puestos>
    <app-personas></app-personas>
    <app-puestos></app-puestos> -->
</div>