<div class="text-end" *ngIf="!empyForm">
    <button class="btn btn-primary" (click)="limpiarForm()">Agregar</button>
</div>
<form [formGroup]="formulario" (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="id" class="form-label">id</label>
        <input type="email" class="form-control" id="id" formControlName="id" placeholder="1234">
    </div>
    <div class="mb-3" *ngIf="tipo !== 'Empleado'">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
    </div>
    <div class="mb-3" *ngIf="tipo === 'Persona'">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="email" class="form-control" id="apellido" formControlName="apellido" placeholder="Apellido">
    </div>
    <div class="mb-3" *ngIf="tipo === 'Persona'">
        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
        <input type="email" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento" placeholder="dd/mm/aaaa">
    </div>

    <div class="mb-3" *ngIf="tipo === 'Empleado'">
        <label for="persona" class="form-label">Persona</label>
        <select class="form-select" formControlName="persona">
            <option *ngFor="let persona of listPersonas" [value]="persona.id">
                {{ persona.nombre +' '+ persona.apellido }}
            </option>
        </select>
    </div>
    <div class="mb-3" *ngIf="tipo === 'Empleado'">
        <label for="puesto" class="form-label">Puesto</label>
        <select class="form-select" formControlName="puesto">
            <option *ngFor="let puesto of listPuestos" [value]="puesto.id">
                {{ puesto.nombre }}
            </option>
        </select>
    </div>
    <button class="btn" [ngClass]="{ 'btn-primary': empyForm, 'btn-warning': !empyForm }" type="submit">{{ submitTitle }}</button>
</form>