<div class="text-end" *ngIf="!empyForm">
    <button class="btn btn-primary" (click)="limpiarForm()">Agregar</button>
</div>
<form [formGroup]="formulario" (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="id" class="form-label">id</label>
        <input type="email" class="form-control" id="id" formControlName="id">
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="email" class="form-control" id="apellido" formControlName="apellido">
    </div>
    <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
        <input type="email" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento">
    </div>
    <button class="btn btn-primary" type="submit">{{ submitTitle }}</button>
</form>